<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
      {%- if site.author %}
        <p style="text-align:left;">
          {% if site.author.name -%}
            {{ site.author.name | escape }}
          {% endif -%}    
          &nbsp; {% if site.author.email -%}
	  <span style="float:right;">
            <a class="u-email" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a> &nbsp;  {%- include social.html -%}
	    {%- endif %} </span>
        </p>
      {%- endif %}
      </div>
    </div>
  </div>
</footer>
